# Local .terraform dirs
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Backup files
*.bak
*.backup

# Ignore Mac .DS_Store files
.DS_Store

# Ignored vscode files
.vscode/